
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Page List of products</h2>

      <ng-template #listProducts>
        <h4 >List of product is empty </h4>
      </ng-template>
    </div>

    <div *ngIf="isContain; else listProducts" ng-init="products">

      <div class="d-flex">
        <input class="form-control me-2" type="text" [(ngModel)]="term" placeholder="filter by category">
        <button class="btn btn-outline-success" (click)="search()">Search Product</button>
      </div>
    
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products | async"  >
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.description}}</td>
              <td>{{product.quantity}}</td>
              <td>{{product.id_category}}</td>
              <td>
                  <button (click)="updateProduct(product.id)" class="btn btn-info" style="margin-left: 2px">update</button>                
                  <button (click)="productDetails(product.id)" class="btn btn-secondary" style="margin-left: 2px">details</button>
                  <button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin-left: 2px">delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
